<h2>Edit Match</h2>
<form [formGroup]="editMatchForm" (ngSubmit)="onSubmit()">
  <div class="player1">
    <input type="text" formControlName="player1name" placeholder="Player 1">
    <input type="number" formControlName="player1score" placeholder="Score">
    <div *ngIf="!editMatchForm.get('player1name').pristine && editMatchForm.get('player1name').hasError('required')">Player
      name is required</div>
  </div>
  vs
  <div class="player2">
    <input type="text" formControlName="player2name" placeholder="Player 2">
    <input type="number" formControlName="player2score" placeholder="Score">
  </div>
  <div>
    <button type="submit" [disabled]="!editMatchForm.valid">Add</button>
  </div>
</form>